flake8
mypy
mypy-extensions
mypy-protobuf
pylint==2.8.3
pytest
pytest-mock
pytest-cov
pytest-order
yapf
isort
rope
pre-commit
pre-commit-hooks
detect-secrets
blacken-docs
bashate
fish
watchdog
speedscope
pandas-profiling
# factory
factory-boy
